<!doctype HTML>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Клуб «Динамо ДВ» – Владивосток</title>
		<meta charset="UTF-8">
		<meta name="description" content="Кикбоксинг Владивосток">
		<meta name="keywords" content="Кикбоксинг,Владивосток,Единоборства,Рукопашный бой, К-1">
		<meta name="author" content="Павел Месенев">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='stylesheet' href='/static/style.css'>
		<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46305312 = new Ya.Metrika({ id:46305312, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46305312" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	</head>
	<body>
		<header class='container header'>
			<h2 class='pre-title'>Клуб</h2>
			<h1 class='title prettyQuotes'>«Динамо ДВ»</h1>
			<p aria-label='Телефон' class='largePhone'>257-11-98</p>
		</header>
		<main class='container content'>
			<!--<h2 class='notice'>Производит набор в секции:</h2>-->
			<ul class='list'>
				<li class='size-1'>Кикбоксинг-К1</li>
				<li class='size-1'>Рукопашный бой</li>
				<li class='size-1'>Боевой раздел СамБо</li>
				<li class='size-1'>Бокс</li>
				<li class='size-2'>Защита от холодного<br> оружия</li>
				<li class='size-3'>Психологическая подготовка</li>
			</ul>
			<div class='description'>
				<p>Дети, мужчины и женщины</p>
				<p>Ограничений по возрасту нет</p>
				<p>Тренировки проводятся круглый год</p>
			</div>
			<img src='/static/boxer.png' alt='Боксёр' class='illustration'>
		</main>
		<footer class='container footer'>
			<p>Понедельник, среда, пятница — с&nbsp;19:30 до&nbsp;21:00</p>
			<div class='footer-contacts'>
				<p class='footer-contacts-location'>Стадион «Динамо», 1&nbsp;этаж<br>
					<small>вход со стороны северной трибуны</small>
				</p>
				<div class='footer-contacts-phones' aria-label='Телефоны'>
					<p class='no-wrap'>257-11-98</p>
					<p class='no-wrap'>+7 924 231-31-18</p>
				</div>
			</div>
		</footer>
	</body>
</html>
